<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/categories-dev.html">Dev</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/categories-iac.html">IaC</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/categories-ai.html">AI</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/categories-cloud.html">AI</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors-list.html">Authors</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li>

